.popup__status {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  padding: calc((100vw - 320px) / (1280 - 320) * (60 - 50) + 50px) calc((100vw - 320px) / (1280 - 320) * (155 - 80) + 80px) calc((100vw - 320px) / (1280 - 320) * (30 - 38) + 38px);
}

@media screen and (min-width: 1280px){
  .popup__status {
    padding: 60px 155px 30px;
  }
}