.popup__message {
  max-width: calc((100vw - 320px) / (1280 - 320) * (358 - 244) + 244px);
  margin: 0 auto calc((100vw - 320px) / (1280 - 320) * (60 - 50) + 50px);
  color: #000;
  text-align: center;
  font-size: calc((100vw - 320px) / (1280 - 320) * (24 - 20) + 20px);
  font-weight: 900;
  line-height: calc((100vw - 320px) / (1280 - 320) * (29 - 24) + 24px);

}

@media screen and (min-width: 1280px) {
  .popup__message {
    max-width: 358px;
    margin: 0 auto 60px;
    font-size: 24px;
    line-height: 29px;
  }
}

